body {
    background-color: #552583;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    padding: 0;
    padding-top: 20px;
    max-height: 100vh;
    font-size: 16pt;
    line-height: 1.5;
    color: white;
    line-height: 200%;
    margin: 0px 225px 225px 225px;
}


.header {
        text-align: center;
        background-color: black;
        border-radius: 12px;
        
}

.header_3 {
    margin-top: 0;
}
span{
    display: inline-block;
    text-indent: 2em;
}
h3 {
    text-decoration:underline;
    text-decoration-color: #FDB927;
    text-decoration-thickness: 1px;
    text-decoration-style:double;

}


h4 {
    color: white;
    

}

.nav-button {
    background-color: #FDB927;
    color: #552583;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s, background-color 0.2s;
}
.nav-button_2 {
    background-color: #FDB927;
    color: #552583;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s, background-color 0.2s;
}

.swiper {
    width: 100%;
    height: fit-content;
    
}

.swiper-slide img{
    width: 100%;
   

}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
   
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next,
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}

nav {
    margin-left: 525px;

}

.paragraph {
    text-indent: 2em;
}