body {
    background-color: #552583;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    padding: 0;
    padding-top: 20px;
    min-height: 100vh;
    font-size: 16pt;
    line-height: 1.5;
    color: white;
    line-height: 200%;
    margin: 0 75px 75px 75px;
}


.header {
        text-align: center;
        background-color: black;
        border-radius: 12px;
        padding-top: 0;
}
span{
    display: inline-block;
    text-indent: 2em;
}
h3 {
    text-decoration:underline;
    text-decoration-color: #FDB927;
    text-decoration-thickness: 4px;
    text-decoration-style: dashed;

}


h4 {
    color: white;


}

.nav-button {
    background-color: #FDB927;
    color: #552583;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s, background-color 0.2s;
}
.nav-button_2 {
    background-color: #FDB927;
    color: #552583;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s, background-color 0.2s;
}